*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    align-items: center;
    background: #2fcdcd;
    display: flex;
    height: 85px;
    width: 100%;
    padding: 5px 10%;
    justify-content: space-between;
}

.enlace{
    top: 0;
    
    position: absolute;
    padding: 20px 50px;
    height: 70px;
    width: auto;
    transition: all 1s;
}

.logo{
    height: 70px;
    width: auto;
    transition: all 1s;
}

.logo:hover {
    transform: scale(1.1);
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a .menu, li a:hover{
    background: #000090;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

